.first-section {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.intro {
  background-image: url('../../../../assets/images/explorasi/image-background.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 30px;
}

.intro-content {
  width: 100%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  padding-bottom: 60px;
}

.intro-content h1 {
  font-size: 48px;
  color: #292d32;
  font-weight: 700;
  margin-bottom: 10px;
}

.intro-content h4 {
  color: #292d32;
  line-height: 48px;
  font-size: 24px;
  font-weight: 500;
}

.intro-content h3 {
  color: #292d32;
  line-height: 48px;
  font-size: 24px;
  font-weight: 500;
}

.intro a {
  text-decoration: none;
  color: #292d32;
  font-weight: 600;
  font-size: 18px;
}

.intro button {
  background-color: #010101;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin-top: 60px;
  height: 52px;
  width: 170px;
  transition: all 0.3s ease-in-out;
}

.intro button:hover {
  background-color: #1652f9;
  cursor: pointer;
}

.list-container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0px 30px;
  margin: auto;
  margin-bottom: 30px;
}

.list-container h1 {
  text-align: center;
  color: #292d32;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.list-container>.mengapa {
  padding-top: 75px;
}

.first-cards,
.second-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.first-card {
  border: 1px solid #a2a3a6;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.second-card {
  border: 1px solid #a2a3a6;
  border-radius: 20px;
  padding: 25px 20px;
  box-sizing: border-box;
  box-shadow: -1px 2px 3px 2px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.first-card img,
.second-card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 20px;
}

.first-card p {
  margin-top: 30px;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  white-space: pre-wrap;
}

.second-card h4 {
  margin-top: 20px;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.second-card p {
  color: #616161;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 992px) {

  .first-cards,
  .second-cards {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }

  .list-container {
    padding: 0px 50px;
  }

  .list-container h1 {
    font-size: 20px;
  }

  .first-card p {
    margin-top: 20px;
    font-size: 14px;
  }

  .second-card h4 {
    font-size: 14px;
  }

  .second-card p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .intro-content {
    padding-bottom: 40px;
  }

  .intro h1 {
    font-size: 32px;
  }

  .intro h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .intro h4 {
    line-height: 36px;
    font-size: 20px;
    font-weight: 600;
  }

  .first-card {
    padding: 15px;
  }

  .first-card p {
    margin-top: 15px;
    font-size: 14px;
  }

  .list-container {
    padding: 0px 30px;
  }

  .second-card {
    padding: 18px 14px;
  }

  .second-card h4 {
    font-size: 12px;
    margin-top: 12px;
  }

  .second-card p {
    font-size: 10px;
  }

  .intro button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
  }

  .intro {
    padding: 50px 30px;
  }
}

@media (max-width: 576px) {

  .first-cards,
  .second-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 20px;
  }

  .first-card p {
    font-size: 12px;
  }

  .list-container {
    padding: 0px 24px;
  }

  .second-card {
    border-radius: 12px;
  }

  .second-card img {
    border-radius: 12px;
  }

  .list-container,
  .list-container h1 {
    margin-bottom: 40px;
  }

  .intro-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .intro-content h1 {
    font-size: 20px;
  }

  .intro-content h4 {
    font-size: 14px;
    line-height: 30px;
  }

  .intro-content h3 {
    margin-top: 10px;
    font-size: 12px;
    line-height: 30px;
  }

  .intro button {
    width: 100px;
    height: 32px;
    font-size: 14px;
    border-radius: 8px;
  }

  .intro {
    padding: 30px;
  }
}