.dividen {
  border: 3px solid #494949;
}

.content-unduhan {
  margin-top: 80px;
  margin-bottom: 91px;
}

.ant-title .title-unduhan {
  font-weight: 700;
  margin-bottom: 72px;
}

.link-app-download {
  margin-top: 88px;
  margin-bottom: 81px;
}
