.dividen {
  border: 3px solid #494949;
}

.content-unduhan {
  margin-top: 80px;
  margin-bottom: 91px;
}

.title-unduhan {
  font-weight: 700 !important;
  margin-bottom: 72px !important;
}

.link-app-download {
  margin-top: 88px;
  margin-bottom: 81px;
}