.dividen {
  border: 3px solid #494949;
}

.content-unduhan {
  max-width: 1200px;
  margin: 60px auto;
}

.title-unduhan {
  font-weight: 700 !important;
  margin-bottom: 72px !important;
}

.link-app-download {
  max-width: 1200px;
  margin: 60px auto;
}

.list-unduhan {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
