footer {
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 60px auto;
}

.footer-content .image-unduhan-wrap {
  justify-content: center;
}

.footer-content .heading-3 {
  font-weight: 700 !important;
  margin-bottom: 72px !important;
}

.footer-bottom {
  margin-top: 60px;
  padding: 40px 0;
  background-color: #010101;
  color: #fff !important;
}

.footer-bottom .heading {
  font-weight: 600;
  color: #fff;
}

.footer-bottom .subtitle-brand {
  font-size: 11px;
  font-weight: 500;
}

.footer-bottom .copyright-text {
  font-size: 17px;
  font-weight: 700;
}

.footer-bottom .img-unduh {
  width: 200px;
}

/* Mobile Styling */
@media (min-height: 640px) {
  /* .footer-content .heading-3 {
    font-size: 14px;
    font-weight: 700 !important;
  } */

  .footer-content .image-unduhan-wrap img {
    height: 372px;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 48px;
  }

  .footer-bottom .unduh-wrap {
    justify-content: center;
  }

  .footer-bottom .unduh-wrap .img-unduh {
    width: 163px;
  }
}
